/* font */
::selection {
    background: rgba(143, 216, 210, 0.5);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24pt;
    padding-top: 40px;
    float: left;
    color: #57504d;
}

.h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    margin-left: -4px;
    margin-bottom: 0px;
    line-height: 24pt;
}

.h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 24pt;
}

.page-title {
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
    margin-bottom: 10px;
    line-height: 24pt;
    font-weight: 600;
    text-transform: uppercase;
}

.underline {
    text-decoration: none;
    padding-bottom: 0px;
	border-bottom: 1px solid;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    margin-top: 8px;
    margin-bottom: 18px;
    line-height: 18pt;
}

.p {
    margin-bottom: 4px;
}

li {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    line-height: 24pt;
}

.link {
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 0px;
	border-bottom: 1px solid;
}

.link:hover {
    color: #df744a;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 0px;
	border-bottom: 2px solid;
}

.link:focus {
    color: black;
    text-decoration: none;
    padding-bottom: 0;
	border-bottom: 1px solid;
}

.link:active {
    color: black;
    text-decoration: none;
    padding-bottom: 0;
	border-bottom: 1px solid;
}

.no-bullet {
    list-style-type: none;
    padding: 0;
}

.emoji {
    margin-right: 7px;
}

/* layout */
.container {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-direction{
    flex-direction: row;
}

.image {
    width: 100px;
}
  
.content {
    width: 700px;
}

@media screen and (max-width: 500px) {
    .flex-direction {
        flex-direction: column;
    }

    .image {
        height: 50px;
    }

    .content {
        height: 300px;
    }
}