/* font */
::selection {
    background: rgba(240, 200, 188, 0.5);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 24pt;
    font-weight: 600;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    margin-top: 8px;
    margin-bottom: 10px;
    line-height: 18pt;
}

.little {
    font-family: 'Poppins', sans-serif;
    font-size: 9pt;
    margin-top: 8px;
    margin-bottom: 10px;
    line-height: 18pt;
}

li {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    line-height: 24pt;
}

.underline {
    text-decoration: none;
    padding-bottom: 0px;
	border-bottom: 1px solid;
}

.link {
    color: #8fd8d2;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 0px;
	border-bottom: 1px solid;
}

.link:hover {
    color: #df744a;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 0px;
	border-bottom: 2px solid;
}

.link:focus {
    color: black;
    text-decoration: none;
    padding-bottom: 0;
	border-bottom: 1px solid;
}

.link:active {
    color: black;
    text-decoration: none;
    padding-bottom: 0;
	border-bottom: 1px solid;
}

.no-bullet {
    list-style-type: none;
    padding: 0;
}

.emoji {
    margin-right: 7px;
}

/* layout */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.flex-direction{
    display: inline-flex;
    flex-direction: row;
}

.image {
    width: 250px;
    height: 100%;
}
  
.content {
    width: 700px;
}

@media screen and (max-width: 700px) {
    .flex-direction {
        flex-direction: column;
    }

    .image {
        width: 200px;
        height: 100%;
    }

    .content {
        width: 100%;
    }
}