@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* @import url(https://fonts.googleapis.com/css?family=Roboto+Slab); */

/* icon */
.icon-up-open-big:after {
	content: "a";
	font-size: 2.5em;
	display: block;
	-webkit-transform: rotateX(180deg);
			transform: rotateX(180deg);
	color: black;
	-webkit-transition: color .3s;
			transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;	
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  	bottom: 30px;
  	padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	    -ms-transform: translateX(-50%);
  	        transform: translateX(-50%);
}

/* edge styling */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	    -ms-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}

/* general */
* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

html {
	font-size: 62.5%;
}

body {
	color: black;
	letter-spacing: .18em;
}

.content {
	background-color: #f5f5f5;
}

.nav-label {
	font-size: 2em;
	/* font-weight: bold; */
	color: white;
}

.arrow {
	font-size: 7em;
	color: white;
}

.nav-label-black {
	font-size: 2em;
	color: black;
}

.arrow-black {
	font-size: 7em;
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

ul, li {
	list-style-type: none;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
}
@-webkit-keyframes pulsate {
    0% { 
		text-shadow: 0 0 2px #d4d4d4, 0 0 4px #c5c5c5, 0 0 6px #b6b6b6;
    }
    50% { 
		text-shadow: 0 0 2px #d4d4d4, 0 0 4px #c5c5c5, 0 0 6px #b6b6b6, 0 0 8px #a7a7a7, 0 0 10px #888888, 0 0 12px black;
    }
    100% { 
		text-shadow: 0 0 2px #d4d4d4, 0 0 4px #c5c5c5, 0 0 6px #b6b6b6;
    }
}

/* sections */
section { 
	text-align: center;
  	/*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}

h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: none;
	font-size: 6em;
	margin-bottom: 20px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.8em;
}

h4 {
	line-height: 2.5em;
	font-family: 'Roboto', serif;
	font-size: 2em;
	text-transform: none;
}

#section0 {
	background-image: 
	linear-gradient(
		rgba(153, 204, 204, 0.7), 
		rgba(153, 204, 204, 0.7)
	  ),
	  url(assets/stock-smoke.gif);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    /* padding: 30% 0 0 0; */
}

/* nav bar */
.header-top {
	background: rgba(0, 0, 50, .3);
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}

h1 {
	line-height: 70px;
	height: 70px;
	text-transform: none;
}

h1 a {
	display: block;
	padding: 0 10px;
	text-transform: none;
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}

.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

nav {
 	height: 0;
	opacity: 0;
  	box-sizing: border-box;
	position: fixed;
	top: 70px;
	width: 100%;
  -webkit-transition: all 1s;
          transition: all 1s;
}

.open-menu ~ nav {
	opacity: 1;
 	padding: 10px 0;
	z-index: 15;
	/* height: calc(10vh); */
}

nav ul {
	padding: 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

nav li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav li a {
	font-size: 1.5em;
	display: block;
	padding: 10px;
	text-align: center;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

nav li:nth-child(1) a {
	/* background: #99cccc; */
	background: rgba(153, 204, 204, 0.5);
}

nav li:nth-child(2) a {
	background: #cfbee4;
}

nav li:nth-child(3) a {
	background: #e1c699;
}

nav li:nth-child(4) a {
	background: #b4cfff;
}

/* section nav */
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 2px solid white;
}

/* slide nav */
.controlArrow {
	border: 0;
}

.fp-controlArrow {
    position: absolute;
    width: 0px;
    height: 0px;
    margin-top: -40px;
    z-index: 4;
    top: 50%;
	cursor: pointer;
	border: 0;
}

.fp-controlArrow.fp-prev {
    left: 20px;
	width: 100px;
	/* border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent; */
}

/* .fp-controlArrow.fp-prev:after {
	content: 'Back';
} */

.fp-controlArrow.fp-next {
	right: 20px;
	width: 100px;
	/* border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff; */
}

/* .fp-controlArrow.fp-next:before {
	content: 'View Exhibit';
} */

/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* 
@media screen and (max-width: 767px) {
	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
} */